.coaches {
  padding: 0 0 89px 0;

  h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 64.8px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni-sans;
    color: $color-sapphire;
    margin: 0 0 48px 0;
  }
}

.coaches__slider {
  position: relative;
}

.coaches__slide {
  position: relative;
  max-width: 260px;
  vertical-align: top;

  h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;
    margin: 0;
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 7%;
    left: 0;
  }

  &:hover {
    opacity: 1;

    h3 {
      bottom: 73%;
    }

    .coaches__description {
      opacity: 1;
    }
  }

  &:focus {
    outline: none;

    h3 {
      bottom: 73%;
    }

    .coaches__description {
      opacity: 1;
    }
  }
}

.coaches__img {
  aspect-ratio: 260 / 294;
  object-fit: cover;
}

.coaches__description {
  aspect-ratio: 260 / 294;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  background-color: $color-sapphire-opacity;
  padding: 75px 30px 30px 30px;
  height: 100%;
  overflow-y: auto;

  span {
    display: block;
    font-weight: 400;
    color: $color-default-white;
    margin: 0 0 33px 0;
    text-align: center;
  }

  li {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 13px 0;
    font-family: $ff-roboto-condensed;
    color: $color-default-white;
  }
}

.coaches__button {
  background-color: transparent;
  border: none;
  color: $color-dark-gray;
  top: auto;
  bottom: 44%;
  left: -57px;
  width: 16px;
  height: 32px;

  &--next {
    left: auto;
    right: -55px;
  }

  &::after {
    font-size: 33px;
  }
}

@include vp-1199 {
  .coaches {
    padding: 0 0 100px 0;

    h2 {
      font-size: 42px;
      line-height: 50.4px;
      margin: 0 0 30px 0;
      text-align: center;
    }
  }

  .coaches__slider {
    max-width: 566px;
    margin: 0 auto;
  }

  .coaches__slide {
    max-width: 268px;

    h3 {
      left: 6px;
    }

    &:hover {
      h3 {
        bottom: 7%;
      }

      .coaches__description {
        opacity: 0;
      }
    }

    &.is-active {
      h3 {
        left: -2px;
        bottom: 73%;
      }

      .coaches__description {
        opacity: 1;
      }
    }

    &:focus {
      h3 {
        left: -2px;
      }
    }
  }

  .coaches__img {
    aspect-ratio: 268 / 294;
  }

  .coaches__description {
    aspect-ratio: 268 / 294;
  }

  .coaches__button {
    left: -54px;

    &--next {
      left: auto;
      right: -56px;
    }
  }
}

@include vp-767 {
  .coaches {
    padding: 0 0 70px 0;

    h2 {
      font-size: 32px;
      line-height: 38.4px;
      margin: 0 0 41px 0;
    }
  }

  .coaches__slider {
    max-width: 100%;
    width: 78%;
    margin: 0 auto;
  }

  .coaches__slide {
    max-width: 100%;
    width: 78%;

    h3 {
      top: auto;
    }

    &.is-active {
      h3 {
        left: 1px;
        bottom: auto;
        top: 43px;
      }
    }

    &:focus {
      h3 {
        left: 1px;
        bottom: auto;
        top: 43px;
      }
    }
  }

  .coaches__img {
    width: 100%;
    aspect-ratio: 226 / 274;
  }

  .coaches__description {
    width: 100%;
    aspect-ratio: 226 / 274;
    padding: 65px 10px 10px 10px;
  }

  .coaches__button {
    left: -34px;

    &--next {
      left: auto;
      right: -36px;
    }

    &::after {
      font-size: 19px;
    }
  }
}
