.gym {
  padding: 120px 0 235px 0;

  .container {
    display: flex;
  }
}

.gym__description {
  padding: 40px 90px 0 60px;
  width: 100%;
  max-width: 500px;
  h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    font-family: $ff-alumni-sans;
    letter-spacing: 0.03em;
    margin: 0 0 8px 0;
  }

  h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 38px 0;
  }

  p {
    margin: 0 0 8px 0;
  }
}

.gym__media {
  position: relative;
}

.gym__video {
  position: absolute;
  background-color: $color-sapphire;
  width: 100%;
  height: 100%;
  max-width: 364px;
  max-height: 228px;
  left: -63px;
  bottom: -117px;
}

@include vp-1199 {
  .gym {
    padding: 100px 0 183px 0;
  
    .container {
      display: block;
    }
  }
  
  .gym__description {
    padding: 0 85px 0 85px;
    max-width: 100%;
    margin: 0 auto;
    h2 {
      font-size: 42px;
      line-height: 50.4px;
      margin: 0 0 0 -15px;
      text-align: center;
    }
  
    h3 {
      margin: 0 0 33px 0;
      text-align: center;
    }
  
    p {
      margin: 0 0 43px 0;
      text-align: center;
    }
  }

  .gym__paragraph {
    display: none;
  }
  
  .gym__media {
    position: relative;
  }

  .gym__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 678 / 345;
  }
  
  .gym__video {
    max-width: 266px;
    max-height: 167px;
    left: 50%;
    bottom: 0;
    transform:translate(-50%, 50%);
  }
}

@include vp-767 {
  .gym {
    padding: 64px 0 70px 0;

    .container {
      padding: 0;
      margin: 0 auto;
      max-width: 500px;
    }
  }
  
  .gym__description {
    padding: 0 15px;
    h2 {
      font-size: 32px;
      line-height: 38.4px;
      margin: 0 0 5px 0;
      text-align: left;
    }
  
    h3 {
      margin: 0 0 22px 0;
      text-align: left;
    }
  
    p {
      margin: 0 0 34px 0;
      padding: 0 30px 0 0;
      text-align: left;
    }
  }

  .gym__paragraph {
    display: none;
  }
  
  .gym__media {
    position: relative;
  }

  .gym__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 320 / 313;
    margin: 0 0 40px 0;
  }
  
  .gym__video {
    position: static;
    max-width: 100%;
    max-height: 100%;
    transform: none;
    aspect-ratio: 320 / 167;
  }  
}