.header-main {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: -54px 0 0 0;
  padding: 0 200px 51px 19px;
}

.header-main__img {
  object-fit: cover;
  aspect-ratio: 500 / 556;
}

.header-main__description {
  display: grid;
  grid-template-columns: 1fr 298px;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: "city city" "subtitle title" "button button";
  padding: 0;

  p {
    grid-area: city;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    font-family: $ff-alumni-sans;
    color: $color-default-white;
    max-width: 290px;
    padding: 0;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    margin: auto 113px 15px auto;
  }

  ul {
    grid-area: subtitle;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $color-default-white;
    text-align: right;
    word-wrap: break-word;
    width: 114px;
    margin: 123px 0 0 0;
    list-style-type: none;
    padding: 0;
  }

  h1 {
    grid-area: title;
    font-weight: 600;
    font-size: 92px;
    -webkit-text-stroke: 3px;
    text-transform: uppercase;
    line-height: 110.4px;
    letter-spacing: 0.05em;
    font-family: $ff-alumni-sans;
    color: $color-default-white;
    text-align: right;
    word-wrap: break-word;
    width: 298px;
    padding: 0 0 0 0;
    margin: 0 0 51px -63px;
  }

  .header-main__button {
    grid-area: button;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.06px;
    color: $color-default-white;
    letter-spacing: 0.05em;
    text-align: center;
    word-wrap: break-word;
    padding: 18px;
    width: 234px;
    border: 4px solid $color-default-white;
    margin: auto 62px 43px auto;
  }
}

@include vp-1199 {
  .header-main {
    margin: 0;
    column-gap: 5px;
    padding: 0 0 82px 0;
  }

  .header-main__img {
    min-width: 324px;
    min-height: 390px;
    aspect-ratio: 324 / 390;
  }

  .header-main__description {
    grid-template-columns: 1fr 235px;

    p {
      font-size: 34px;
      line-height: 40.8px;
      max-width: 220px;
      padding: 0;
      margin: auto 27px 6px auto;
    }

    ul {
      margin: 88px 0 0 auto;
    }

    h1 {
      font-size: 72px;
      line-height: 86.4px;
      text-transform: none;
      letter-spacing: 0.05em;
      width: 235px;
      padding: 0;
      margin: 0 0 37px -24px;
    }

    .header-main__button {
      padding: 19px;
      width: 190px;
      margin: auto 22px 23px auto;
    }
  }
}

@include vp-767 {
  .header-main {
    margin: 0;
    padding: 0 0 80px 0;
    min-height: 439px;
    grid-template-columns: auto;
    column-gap: 0;
  }

  .header-main__img {
    display: none;
  }

  .header-main__description {
    width: 100%;
    max-width: 450px;
    min-height: 357px;
    grid-template-columns: 1fr 213px;
    padding: 0;
    margin: 0 auto;

    p {
      font-size: 28px;
      line-height: 33.6px;
      margin: auto 2px 14px auto;
    }

    ul {
      margin: 78px -36px 0 auto;
      width: auto;
      max-width: 114px;
    }

    h1 {
      width: 213px;
      margin: 0 0 23px 0;
    }

    .header-main__button {
      padding: 20px;
      width: 100%;
      margin: 0 auto 0 auto;
    }
  }
}
