.promotion {
  padding: 149px 0 117px 0;

  h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 64.8px;
    font-family: $ff-alumni-sans;
    letter-spacing: 0.03em;
    color: $color-sapphire;
    text-align: center;
    margin: 0 0 34px 0;
  }
}

.promotion__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.promotion__card {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 462px;
}

.promotion__description {
  background-color: $color-torch-red-second;
  padding: 33px 45px 45px 45px;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 43.68px;
    color: $color-default-white;
    word-wrap: break-word;
    margin: 0 0 -25px 0;
  }

  span {
    font-weight: 700;
    font-size: 70px;
    line-height: 109.2px;
    color: $color-default-white;
    word-wrap: break-word;
    margin: 0;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    color: $color-default-white;
    word-wrap: break-word;
    margin: 0;
  }

  .promotion__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.05em;
    color: $color-default-white;
    word-wrap: break-word;
    margin: auto 0 1px 0;
    border-bottom: 1px solid $color-default-white;
    max-width: min-content;
  }
}

.promotion__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promotion__item {
  border: 7px solid;
  border-image: linear-gradient(135deg, $color-crimson 0%, $color-smalt 100%) 7 stretch;
  padding: 17px 35px 30px 29px;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    margin: 0;
    color: $color-resolution-blue;
  }

  p {
    margin: 0;
    letter-spacing: 0.01em;
    color: $color-resolution-blue;
  }

  .promotion__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14.06px;
    word-wrap: break-word;
    color: $color-resolution-blue;
    margin: auto auto 0 0;
    letter-spacing: 0.05em;
    max-width: max-content;
    border-bottom: 1px solid $color-resolution-blue;
  }
}

@include vp-1199 {
  .promotion {
    padding: 95px 0 91px 0;

    h2 {
      font-size: 42px;
      line-height: 50.4px;
      color: $color-sapphire;
      text-align: center;
      margin: 0 8px 40px 0;
    }
  }

  .promotion__list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .promotion__card {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 1fr auto;
    min-height: 462px;
  }

  .promotion__item {
    padding: 17px 30px 30px 29px;
    min-height: 211px;

    h3 {
      margin: 0 0 3px 0;
    }

    .promotion__link {
      font-weight: 700;
      font-size: 12px;
      line-height: 14.06px;
      word-wrap: break-word;
      color: $color-resolution-blue;
      margin: auto auto 0 0;
      letter-spacing: 0.05em;
      max-width: max-content;
      border-bottom: 1px solid $color-resolution-blue;
    }
  }

  .promotion__item--month {
    p {
      padding: 0 25px 0 0;
    }
  }
}

@include vp-767 {
  .promotion {
    padding: 60px 0 64px 0;

    h2 {
      font-size: 32px;
      line-height: 38.4px;
      margin: 0 6px 42px 0;
    }
  }

  .promotion__list {
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 400px;
    margin: 0 auto;
  }

  .promotion__card {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-height: 598px;
  }

  .promotion__description {
    h3 {
      text-align: center;
    }

    span {
      text-align: center;
    }

    p {
      margin: -5px 0 0 0;
      text-align: center;
    }

    .promotion__link {
      margin: auto auto 0 auto;
    }
  }

  .promotion__img {
    object-fit: cover;
    object-position: 50% 20%;
    aspect-ratio: 290 / 299;
  }

  .promotion__item {
    padding: 30px;
    min-height: 211px;

    h3 {
      margin: 0 0 1px 0;
      text-align: center;
    }

    p {
      text-align: center;
    }

    .promotion__link {
      margin: auto auto 10px auto;
      border-bottom: 1px solid $color-resolution-blue;
    }
  }

  .promotion__item--month {
    p {
      padding: 0;
    }
  }
}
