.subscription {
  position: relative;
  padding: 120px 0 120px 0;
  background-color: $color-ghost-white;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    transform: translate(0, 30%);
    background-image: url("../img/backgrounds/weight.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    width: 290px;
    height: 498px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/weight@2x.png");
    }
  }

  h2 {
    font-weight: 600;
    font-size: 54px;
    line-height: 64.8px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni-sans;
    color: $color-sapphire;
    text-align: center;
    word-wrap: break-word;
    margin: 0 0 18px 0;
  }
}

.subscription__tabs {
  max-width: 341px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 0;
  margin: 0 auto 40px auto;
}

.subscription__tab {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  max-width: 96px;
  word-wrap: break-word;
  color: $color-sapphire;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  &.is-active::before {
    position: absolute;
    content: "";
    background-color: $color-crimson;
    width: 100%;
    height: 2px;
    bottom: -11px;
    left: 0;
  }
}

.subscription__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &.is-closed {
    display: none;
  }
}

.subscription__card {
  background-color: $color-default-white;
  padding: 51px 5px 61px 5px;
  border: 7px solid transparent;
  z-index: 1;

  &:hover {
    border-image: linear-gradient(135deg, $color-crimson 0%, $color-smalt 100%) 7 stretch;

    .subscription__card-button {
      background: linear-gradient(90deg, $color-torch-red-second 0%, $color-cobalt 100%);
      border: transparent;
      color: $color-default-white;
    }
  }

  &:focus-within {
    border-image: linear-gradient(135deg, $color-crimson 0%, $color-smalt 100%) 7 stretch;

    .subscription__card-button {
      background: linear-gradient(90deg, $color-torch-red-second 0%, $color-cobalt 100%);
      border: transparent;
      color: $color-default-white;
      outline: none;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 39.61px;
    color: $color-sapphire;
    word-wrap: break-word;
    text-align: center;
    margin: 0 0 4px 0;
  }

  p {
    font-weight: 400;
    color: $color-chambray;
    word-wrap: break-word;
    text-align: center;
    margin: 0 0 10px 0;
  }
}

.subscription__price-wrapper {
  .subscription__price-shadow {
    display: block;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    word-wrap: break-word;
    color: $color-whisper;
    text-align: center;
  }

  .subscription__price {
    display: block;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    word-wrap: break-word;
    color: $color-egyptian-blue;
    text-align: center;
    margin: -95px 0 35px 0;
  }
}

.subscription__card-button {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.05em;
  color: $color-sapphire;
  text-align: center;
  word-wrap: break-word;
  padding: 24px 0 24px 0;
  width: 100%;
  max-width: 206px;
  margin: 0 auto;
  border: 2px solid $color-sapphire;
}

@include vp-1199 {
  .subscription {
    padding: 100px 0 120px 0;

    &::before {
      transform: translate(0, 18%);
      width: 345px;
      height: 415px;
    }

    .container {
      padding: 0 163px;
    }

    h2 {
      font-size: 42px;
      line-height: 50.4px;
      margin: 0 10px 20px 0;
    }
  }

  .subscription__tabs {
    max-width: 332px;
    padding: 0 0 11px 0;
    margin: 0 auto 44px auto;
  }

  .subscription__tab {
    max-width: 86px;
    font-size: 18px;
    line-height: 27px;

    &.is-active::before {
      bottom: -13px;
    }
  }

  .subscription__card-list {
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
}

@include vp-767 {
  .subscription {
    padding: 63px 0 70px 0;

    &::before {
      display: none;
    }

    .container {
      padding: 0 15px;
    }

    h2 {
      font-size: 32px;
      line-height: 38.4px;
    }
  }

  .subscription__tabs {
    margin: 0 auto 34px auto;
  }

  .subscription__tab {
    max-width: 77px;
    font-size: 16px;
    line-height: 24px;
  }

  .subscription__card-list {
    gap: 32px;
  }

  .subscription__card {
    padding: 46px 5px 49px 5px;

    h3 {
      font-size: 22px;
      line-height: 24.23px;
      margin: 0 0 6px 0;
    }

    p {
      margin: 0 0 12px 0;
    }
  }

  .subscription__price-wrapper {
    .subscription__price-shadow {
      font-size: 80px;
      line-height: 120px;
    }

    .subscription__price {
      font-size: 48px;
      line-height: 72px;
      margin: -76px 0 30px 0;

      svg {
        width: 24px;
        height: 33.6px;
      }
    }
  }
}
